.About-container {
  margin-top:3rem;
}
  .About-image, .About-blurb {
  }
  .About-image {
    position:relative;
  }
    .About-img {
      background-color:#ddd;
      width:100%;
      vertical-align: top;
    }
    .About-contact {
      padding: 1rem 0;
    }
  .About-blurb {
  }
    .About-blurb h4 {
      margin-top:0;
    }

@media screen and (min-width: 737px) {
  .About-container {
    margin-top:3rem;
    display: flex;
  }
    .About-image, .About-blurb {
      flex: 1;
    }
    .About-image {
      position:relative;
    }
      .About-img {
        background-color:#ddd;
        width:100%;
        vertical-align: top;
      }
      .About-contact {
        text-align: right;
      }
    .About-blurb {
      padding:0rem 2rem;
    }
      .About-blurb h4 {
        margin-top:0;
      }
}    