.App-container {
}  
  .home {
  }
    .intro-container {
      max-width:650px;
      margin: 0 auto;
      text-align:center;
      padding:2rem 0;
    }

    .project-cards-container {
      text-align: center;
    }
      .project-card {
        vertical-align: top;
        padding: 1.5rem 0;
      }
      .project-card a:hover {
        text-decoration: none;
      }
        .project-img img {
          border-radius: 8px;
          transition: 400ms;
        }
        .project-img img:hover {
          box-shadow: 1px 1px 5px 0 #888;
        }
        .project-desc {
          padding:0rem 0.5rem;
          color:hsl(0, 0%, 28%);
        }

@media screen and (min-width: 737px) {
  .project-cards-container {
    display:inline-grid;
    grid-gap: 1.5rem 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
  
}
