*, *:before, *:after {
  box-sizing: border-box;
}
* {
  /* outline: 1px solid pink; */
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla',
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", 
    "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.7;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  color:#333;
  background-color:#fff;
}

.wrapper {
  max-width:1280px;
  margin:0 auto;
  padding: 2rem 1rem;
  padding-top:4rem;
}
h1, h2, h3, h4, h5 {
  font-family: 'Quicksand';
  font-weight: 700;
  line-height: 1.2;
  margin:0;
  padding:0;
  margin-bottom:0.5rem;
  margin-top:3rem;
}

.smallcaps {
  font-family: 'Quicksand';
  font-weight: 700;
  line-height: 1.2;
  margin:0;
  padding:0;
  margin-bottom:0.5rem;
  margin-top:2rem;
}

h1 {
  /*font-size: 3.052em*/
  font-size: 2.6em
}
h2 {
  font-size: 2.441em
}
h3 {
  font-size: 1.953em
}
h4 {
  font-size: 1.563em
}
h5 {
  font-size: 1.25em
}

object {
  margin:0;
  padding:0;
}

.nav-container {
  width:100%;
  height:90px;
  position:fixed;
  /* border-bottom:1px solid hsl(339, 38%, 89%); */
  box-shadow:0 1px 3px 0 hsl(339, 38%, 89%);
  background-color:#fff;
  z-index: 1;
}

a {
  text-decoration: none;
  color:#be6f8b;
}

a:hover {
  color:hsl(338, 71%, 26%);
  /* text-decoration: underline; */
  text-decoration-color:#be6f8b;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

p, li, .smallcaps {
  color:#444
}

.smallcaps {
  color: #aaa;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

li::before {
  content: "•"; 
  color: #be6f8b;
  padding-right:0.3rem;
  vertical-align: baseline;
}

img {
  max-width: 100%;
}

video {
  max-width: 100%;
}

blockquote {
  padding:0;
  margin:1rem 2rem;
  border-left: 8px solid #be6f8b;
  padding-left: 1rem;
  font-size:1.2em;
}

figcaption {
  font-size: 0.95rem;
  font-style: italic;
}

.footer-container {
  width:100%;
  height:180px;
}

.button {
  border: 1px solid #be6f8b;
  border-radius: 35px;
  padding: 0.1rem 1rem;
  margin: 0.5rem 1rem;
  display: inline-block;
}
.button:hover {
  text-decoration: none;
  background-color:hsl(339, 38%, 79%);
  color:white;
  border: 1px solid hsl(339, 38%, 79%);
}

@media screen and (min-width: 737px) {
  body {
    font-size:18px;
  }
  .nav-container {
    height:65px;   
  }
  .wrapper {
    max-width:1280px;
    margin:0 auto;
    padding: 2rem 2rem;
    padding-top:4rem;
  }
}