*, *:before, *:after {
  box-sizing: border-box;
}
* {
  /* outline: 1px solid pink; */
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Karla',
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif,  "Apple Color Emoji", "Segoe UI Emoji", 
    "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.8;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  color:#333;
  background-color:#fff;
}

.wrapper {
  max-width:1280px;
  margin:0 auto;
  padding: 2rem 2rem;
  padding-top:4rem;
}
h1, h2, h3, h4, h5, .smallcaps {
  font-family: 'Quicksand';
  font-weight: 700;
  line-height: 1.2;
  margin:0;
  padding:0;
  margin-bottom:1rem;
  margin-top:3rem;
}

h1 {
  font-size: 3.052em
}
h2 {
  font-size: 2.441em
}
h3 {
  font-size: 1.953em
}
h4 {
  font-size: 1.563em
}
h5 {
  font-size: 1.25em
}


a {
  text-decoration: none;
  color:#be6f8b;
}
a:hover {
  color:hsl(339, 38%, 89%);
  text-decoration: underline;
}
p, li, .smallcaps {
  color:hsl(0, 0%, 30%)
}
img {
  width: 100%;
}

@media screen and (min-width: 1025px) {
}