
.projects {
  margin-top:2rem;
}
    .project-cards-container {
      text-align: center;
    }
      .project-card {
        vertical-align: top;
        padding: 1.5rem 0;
      }
      .project-card a:hover {
        text-decoration: none;
      }
        .project-img img {
          border-radius: 8px;
          transition: 400ms;
        }
        .project-img img:hover {
          box-shadow: 1px 1px 5px 0 #888;
        }
        .project-desc {
          padding:0rem 0.5rem;
          color:hsl(0, 0%, 28%);
        }

@media screen and (min-width: 737px) {
  .project-cards-container {
    display:inline-grid;
    grid-gap: 1.5rem 1.5rem;
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 900px) {
  .project-cards-container {
    grid-template-columns: auto auto auto;
  }
  .project-desc {
    font-size: 0.9rem;
  }
}